Calculadora_Client/Calculadora_Client/Connected Services/Calculadora/Calculadora_ServerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://exemplosoap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Calculadora_ServerImplService" targetNamespace="http://exemplosoap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="soma">
    <part name="arg0" type="xsd:float" />
    <part name="arg1" type="xsd:float" />
  </message>
  <message name="somaResponse">
    <part name="return" type="xsd:float" />
  </message>
  <message name="multiplicacao">
    <part name="arg0" type="xsd:float" />
    <part name="arg1" type="xsd:float" />
  </message>
  <message name="multiplicacaoResponse">
    <part name="return" type="xsd:float" />
  </message>
  <message name="subtracao">
    <part name="arg0" type="xsd:float" />
    <part name="arg1" type="xsd:float" />
  </message>
  <message name="subtracaoResponse">
    <part name="return" type="xsd:float" />
  </message>
  <message name="divisao">
    <part name="arg0" type="xsd:float" />
    <part name="arg1" type="xsd:float" />
  </message>
  <message name="divisaoResponse">
    <part name="return" type="xsd:float" />
  </message>
  <portType name="Calculadora_Server">
    <operation name="soma" parameterOrder="arg0 arg1">
      <input wsam:Action="http://exemplosoap/Calculadora_Server/somaRequest" message="tns:soma" />
      <output wsam:Action="http://exemplosoap/Calculadora_Server/somaResponse" message="tns:somaResponse" />
    </operation>
    <operation name="multiplicacao" parameterOrder="arg0 arg1">
      <input wsam:Action="http://exemplosoap/Calculadora_Server/multiplicacaoRequest" message="tns:multiplicacao" />
      <output wsam:Action="http://exemplosoap/Calculadora_Server/multiplicacaoResponse" message="tns:multiplicacaoResponse" />
    </operation>
    <operation name="subtracao" parameterOrder="arg0 arg1">
      <input wsam:Action="http://exemplosoap/Calculadora_Server/subtracaoRequest" message="tns:subtracao" />
      <output wsam:Action="http://exemplosoap/Calculadora_Server/subtracaoResponse" message="tns:subtracaoResponse" />
    </operation>
    <operation name="divisao" parameterOrder="arg0 arg1">
      <input wsam:Action="http://exemplosoap/Calculadora_Server/divisaoRequest" message="tns:divisao" />
      <output wsam:Action="http://exemplosoap/Calculadora_Server/divisaoResponse" message="tns:divisaoResponse" />
    </operation>
  </portType>
  <binding name="Calculadora_ServerImplPortBinding" type="tns:Calculadora_Server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="soma">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </output>
    </operation>
    <operation name="multiplicacao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </output>
    </operation>
    <operation name="subtracao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </output>
    </operation>
    <operation name="divisao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://exemplosoap/" />
      </output>
    </operation>
  </binding>
  <service name="Calculadora_ServerImplService">
    <port name="Calculadora_ServerImplPort" binding="tns:Calculadora_ServerImplPortBinding">
      <soap:address location="http://localhost:9876/exemplosoap" />
    </port>
  </service>
</definitions>